.about-us-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.about-us-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.about-us-container h3 {
  font-size: 20px;
  margin-top: 30px;
}

.about-us-container p {
  font-size: 16px;
  line-height: 1.6;
  margin-top: 10px;
}

.about-us-container ul {
  font-size: 16px;
  line-height: 1.6;
  margin-top: 10px;
  margin-left: 20px;
}

.about-us-container strong {
  font-weight: bold;
}

.about-us-container li {
  margin-bottom: 10px;
}

